.card {
    height: 300px;
    width: 300px;
    float: left;
    background-color: #a5a5af;
}

img {
    height: 300px;
    width: 300px;
    float: left;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1500px;
    }
}

