.App-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: calc(6px + 2vmin);
    background-color: black;
    text-align: center;
  }
  .btn-link {
    margin-right: 2%;
  }

  .text-secondary {
    color: #a5a5af
  }
